<nav class="navbar navbar-expand-md navbar-light footer">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="/logo/logo_eureka.png" alt="eureka logo" id="logo-navbar">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About Us </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="reminders">Changing Patterns </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="quickchat">Happy Chat </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="prochat">Professional Chat </a>
                </li>
            </ul>
        </div>
    </div>
</nav>