<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <!--
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
        -->
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_zeoujfto.json" background="transparent"
                speed="1" style="width: 50px; height: 50px;" loop autoplay>
            </lottie-player>
        </a>
        <b>Eureka</b>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>