<%- include('partials/head') %>

    <body>

        <!-- Top Navigation Bar of the webpage  -->
        <div class="container">
            <%- include('partials/navbar') %>

                <!-- start of the tagline body-->
                <div class="row">
                    <div class="col-md-8">
                        <div class="p-5 mb-4 rounded">
                            <div class="container-fluid py-5">
                                <h1 class="display-5 fw-bold">Shape your Mind, <br>Shape your Life</h1>
                                <!-- <p class="col-md-8 fs-4 fw-bold">
                                    everybody deserves it
                                </p> -->
                                <br>
                                <button class="btn btnMain mt-auto btn-lg" type="button">Start Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-5 mb-4 rounded">
                            <div class="container-fluid py-5">
                                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_Yiahbq.json"
                                    background="transparent" speed="1" loop autoplay id="floatie">
                                </lottie-player>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of the tagline body -->

                <!-- start of the card -->
                <div class="row align-items-md-stretch">
                    <div class="col-md-4 card-container">
                        <div class="card-index d-flex flex-column">
                            <h2>Happy Chat</h2>

                            <p>Need a little confidence boost,need to let off steam, need to hear some positive words,
                                connect
                                to our quick chat volunteers.</p>
                            <!-- <button class="btn btnMain mt-auto" type="button">Know more</button> -->
                        </div>
                    </div>
                    <div class="col-md-4 card-container">
                        <div class="card-index d-flex flex-column">
                            <h2>Changing Patterns</h2>
                            <p>Program reminders to change habits, create relaxing time, etc.</p>
                            <!-- <button class="btn btnMain mt-auto" type="button">Know more</button> -->
                        </div>
                    </div>

                    <div class="col-md-4 card-container">
                        <div class="card-index d-flex flex-column">
                            <h2>Professional Chat</h2>
                            <p>Need Professional help, talk to one of our in-house therapists for 30 minute sessions.
                                These
                                are
                                charged sessions for $5.</p>
                            <!-- <button class="btn btnMain mt-auto" type="button">Know more</button> -->
                        </div>
                    </div>
                </div>
                <%- include('partials/footer') %>

                    <!-- end of the card-->

                    <!-- Option 1: Bootstrap Bundle with Popper -->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                        crossorigin="anonymous"></script>


    </body>

    </html>