<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <div class="container">
                <h1>
                    Little Changes
                    <br>Can Make a Big Impact
                </h1>
                <img src="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro earum mollitia obcaecati inventore
                    impedit
                    laboriosam, quas quam dolores illo aspernatur consectetur ad tempora recusandae velit labore
                    ipsam
                    iusto ab
                    non.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quis dolor ea natus ad in
                    dignissimos.
                    Ipsum
                    dolorem commodi alias architecto, libero eligendi possimus assumenda nemo ipsa velit tenetur
                    voluptatibus.
                </p>
            </div>
    </body>

    </html>