<%- include('partials/head') %>

    <body>
        <div class="container" id="landing">
            <%- include('partials/navbarUser') %>
                <center>
                    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_kvwtrk4n.json"
                        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
                    </lottie-player>
                </center>
                <h2>
                    <center>Welcome Hilda</center>
                </h2>
                <h1 class="display-5 fw-bold">
                    <center>Ready to continue your journey ?</center>
                </h1>


                <section class="sec">
                    <h3 class="recent">Recent activites</h3>
                    <!-- start of the cards recent activities -->

                    <div class="row align-items-md-stretch">
                        <div class="col-lg-4 card-container">
                            <div class="card-landing d-flex flex-column">
                                <h2>Changing Patterns</h2>
                                <p>We all get bad habits. The best way to change bad habits is to try to replace them
                                    with new ones. Here you can program reminders to change habits, create relaxing
                                    time, and change your mind.</p>
                                <a type="button" class="btn btn-outline-light mt-auto btn-recent"
                                    href="/reminders">Continue</a>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- end of the card-->

                <section class="sec">
                    <h3 class="group">Overcoming anxiety</h3>

                    <!-- start of the card anxiety-->
                    <div class="row align-items-md-stretch">
                        <div class="col-lg-4 card-container">
                            <div class="card-landing d-flex flex-column">
                                <h2>Quick Chat</h2>
                                <p>Need a little pick-me-up? Want a little support or someone to hear your thoughts?
                                    Have a quick chat with one of our certified volunteers. These are safe chats. They
                                    are a maximum of 15 minutes so our volunteers can help others.
                                </p>
                                <a type="button" class="btn btn-outline-light mt-auto btn-group"
                                    href="/quickchat">Start</a>

                            </div>
                        </div>
                        <div class="col-lg-4 card-container">
                            <div class="card-landing d-flex flex-column">
                                <h2>Pro Chat</h2>
                                <p>Real professionals here to help. Book a mini-session of 30 minutes to help you get
                                    over barriers that may occur in your life. Make a reservation here with one of our
                                    in-house professional therapists.
                                </p>
                                <a type="button" class="btn btn-outline-light mt-auto btn-group"
                                    href="/prochat">Start</a>
                            </div>
                        </div>
                        <div class="col-lg-4 card-container">
                            <div class="card-landing d-flex flex-column">
                                <h2>Changing Patterns</h2>
                                <p>We all get bad habits. The best way to change bad habits is to try to replace them
                                    with new ones. Here you can program reminders to change habits, create relaxing
                                    time, and change your mind.</p>
                                <a type="button" class="btn btn-outline-light mt-auto btn-recent"
                                    href="/reminders">Start</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end of the card-->

                <section class="sec">
                    <h3 class="group">Keeping active</h3>

                    <!-- start of the card keeping active-->
                    <div class="row align-items-md-stretch">
                        <div class="col-lg-4 card-container">
                            <div class="card-landing d-flex flex-column">
                                <h2>Exercises</h2>
                                <p>A healthy body is a healthy brain. Discover new activities here to keep you mind and
                                    body engaged.
                                </p>
                                <a type="button" class="btn btn-outline-light mt-auto btn-recent"
                                    href="/notfound">Start</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end of the card-->
                <section class="sec">
                    <h3 class="group">Group Peer Chat Groups</h3>

                    <!-- start of the card -->
                    <div class="row align-items-md-stretch">
                        <div class="col-lg-4 card-container">
                            <div class="card-landing d-flex flex-column">
                                <h2>Online Support</h2>
                                <p>Weekly online support groups. Start your own group or join an existing one.
                                </p>
                                <a type="button" class="btn btn-outline-light mt-auto btn-recent"
                                    href="/quickchat">Start</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end of the card-->

                <%- include('partials/footer') %>

                    <!-- Option 1: Bootstrap Bundle with Popper -->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                        crossorigin="anonymous"></script>


    </body>

    </html>