<%- include('partials/head') %>


    <body>
        <div class="container" id="quickchat">
            <%- include('partials/navbarUser') %>
                <br>
                <br>
                <div class="title">
                    <h1 class="display-5 fw-bold">Pro Chat</h1>
                    <h3>Changing a couple small habits can change your life</h3>
                    <p>Start here by making time for things that relax you.</p>
                    <br>
                    <br>
                </div>

                <div class="container-fluid">

                </div>

        </div>
        <%- include('partials/footer') %>
    </body>

    </html>