<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <div class="container">
                <h1>Make an Appointment</h1>
                <h2>With a professional</h2>
                <p>We have professionals who can book you online for a 30minute zoom chat.</p>
            </div>
    </body>

    </html>