<%- include('partials/head') %>

    <body>
        <div class="container" id="quickchat">
            <%- include('partials/navbarUser') %>

                <br>
                <br>
                <div class="title">
                    <h1 class="display-5 fw-bold">Quick Chat to Boost you UP!</h1>
                </div>
                <div class="card">
                    <div class="card-header">Your Name Here...</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" id="username" placeholder="Your name here...">
                            <div class="input-group-append">
                                <button class="btn btnMain mt-auto" type="button" id="usernameBtn">Change</button>
                            </div>
                        </div>
                    </div>

                    <div class="message-box">
                        <ul class="list-group list-group-flush" id="message-list"></ul>
                        <div class="info"></div>
                    </div>

                    <div class="card-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" id="message" placeholder="Send new message">
                            <div class="input-group-append">
                                <button class="btn btnMain mt-auto" type="button" id="messageBtn">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <%- include('partials/footer') %>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/js/chatroom.js"></script>
    </body>

    </html>