<%- include('partials/head') %>

    <body>
        <div class="container" id="quickchat">
            <%- include('partials/navbarUser') %>
                <br>
                <br>
                <div class="title">
                    <h1 class="display-5 fw-bold">Set Your Reminders</h1>
                    <h3>Changing a couple small habits can change your life</h3>
                    <p>Start here by making time for things that relax you.</p>
                    <br>
                    <br>
                </div>

                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <h3>Date</h3>
                        </div>
                        <div class="col-lg-3">
                            <h3>Time</h3>
                        </div>
                        <div class="col-lg-3">
                            <h3>Frequency</h3>
                        </div>
                        <div class="col-lg-3">
                            <h3>Activity</h3>

                        </div>
                    </div>
                </div>

        </div>
        <%- include('partials/footer') %>
    </body>

    </html>