body {
background: white;
background: linear-gradient(0deg,#83FBBF, white); 
color:rgb(110, 110, 110);
}
.btnMain {
    background: blanchedalmond;
    background: linear-gradient(0deg,#7DC2EC, #83FBBF); 
    color: whitesmoke;
    font-weight: 700;
    box-shadow: 5px 5px 2px 1px rgba(165, 165, 167, 0.2);
    border: 2px soldi whitesmoke;
}
.card {
    padding-top: 50px;
}
#quickchat {
    height: 1000px;
}
#landing{
    height: 2000px;
}
#floatie {
    width: 300px; 
    height: 300px;
}
#help {
    background-color: #E35799;
    color:whitesmoke;
    display: inline-flex;
    border-radius: 15px;
    border: none;
    padding: 5px;
}
.signout {
    background-color: #E35799;
    color:whitesmoke;
    display: inline-flex;
    border-radius: 15px;
    border: none;
    padding: 5px;
}
.signout a{
    text-decoration: none;
    color:whitesmoke;
}
.signout a:hover{
    font-weight:bolder;
    color:#E35799;
    transition: 1s;
    text-decoration: none;
}
/* Modal background */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; /*location of box*/
    left:0;
    top:0; 
    width: 100%; /*full width*/
    height: 100%; /*full height*/ 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    text-align:center;
}          
/*modal content*/
.modal-content {
    background-color: #fefefe;
    margin:auto;
    padding:20px;
    border:1px solid #888;
    width:80%;
}   
.close {
    color:#aaaaaa;
    float:right;
    font-size:28px;
    font-weight: bold;
    text-align:end;
}
.close:hover, .close:focus {
    color:#000;
    text-decoration:none;
    cursor:pointer;
}
#logo-navbar {
    height: 90px;
}       
.card-landing {
    box-shadow: 1px 1px 10px #00000080;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    height: 300px;
    text-align: center;
    background-color:whitesmoke;
}   
.card-index {
    box-shadow: 1px 1px 10px #00000080;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    height: 225px;
    text-align: center;
    background-color:whitesmoke;
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}  
.sec {
    margin-top: 25px;
    margin-bottom: 45px;
}
.recent {
    font-weight: bold;
    color: #E35799;
}
.btn-recent {
    background-color: #E35799;
    width: 100px;
    margin-left:auto;
    border-radius: 5px;
    transition: 1s;
}
.group {
    font-weight:bold;
    color:#7DC2EC;
}
.btn-group {
    background-color: #7DC2EC;
    width: 100px;
    margin-left:auto;
    border-radius: 5px;
    transition: 1s;
}
h2 {
    font-stretch: extra-expanded;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color:rgb(24, 24, 24);
}
a {
    font-weight: 600;
    color:rgb(75, 74, 74);
}
.footer {
    background-color: transparent;
    color: rgb(110, 110, 110);
}
.text-center {
    background-color: whitesmoke;
}